.preferencepop-main-container {
    .preferencepop-first-table-data {
      .preferencepop-table-one-heading {
        text-align: initial;
        color: #252328;
        margin: 0px 0px 15px 0px;
        font-weight: 600;
        font-family: "Rubik", sans-serif;
      }
  
      .preferencepop-table th {
        padding: 10px 100px 5px 5px;
        vertical-align: baseline;
        border-top: none;
        font-weight: normal;
        color: #6f6d72;
        text-align: left;
        font-size: 15px;
        font-weight: 500;
      }
  
      .preferencepop-table td {
        color: #6f6d72;
        text-align: left;
        padding: 8px;
        vertical-align: baseline;
        border-top: none;
        font-weight: normal;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  