.admin-dashboard-main-div{
.admin-profile-details-div {
  box-sizing: border-box;

  .admin-img-div {
    padding: 10px 5px 5px 21px;

    .admin-photo {
      width: 60px;
      height: 60px;
      // border: 1px solid black;
      border-radius: 50%;
    }
  }

  .admin-user-name {
    margin-bottom: 0px;
    font-size: 16px;
    margin-top: 18px;
    font-weight: 600;
  }

  .admin-user-age {
    font-size: 12px;
    font-weight: 600;
  }
}
.buttons-list-link{
  border-bottom: 1px solid #ebebeb;
    &:hover{
      background-color: #ebebeb;
    }
}
}



.admin-nav-link {
  color: black;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &:hover{
    background-color: #ebebeb;
  }

  .admin-list-items-buttons {
    // margin: 3px 0px;
    color: #626262;
    border-bottom: 1px solid #ebebeb;
    &:hover {
      background-color: #ebebeb;
    }
  }
}




   
  
   
  
  