


.main-div{
    display: flex;
    justify-content: space-between;
    color: black;

   .sanga-icon{
        padding: 0px 20px;
    }

    .profile-img{
        width: 55px;
        height: 41px;
    }

    .menu-items{
       padding: 0px 10px;
       margin: 0px 5px;
       background-color: red;
    }

    
}

