.social-formcontrol-1,
.social-formcontrol-5 {
  background-color: white;
  width: 450px;
}

.social-formcontrol-2,
.social-formcontrol-3,
.social-formcontrol-4,
.social-formcontrol-6,
.social-formcontrol-7 {
  background-color: white;
  width: 450px;
}

.social-textfield-1 {
  background-color: white;
  width: 450px;
  height: 40px;
}
