.education-main-container {
  margin: 30px;
  // .education-stack-container {
  //   display: grid;
  //   grid-template-columns: repeat(1, 1fr);
  // }
  .education-first-table-data {
    .education-table-one-heading {
      text-align: initial;
      color: #252328;
      margin: 0px 0px 15px 0px;
      font-weight: 600;
      font-family: "Rubik", sans-serif;
    }

    .edit-icon {
      padding-left: 5px;
      position: relative;
      top: 7px;
    }
    .education-table th {
      font-size: 16px;
      text-align: initial;
      background-color: #fff;
      border-bottom: 1px solid #eee;
      padding: 14px 228px 14px 20px;
      color: #252324;
    }

    .education-table td {
      color: #6f6d72;
      text-align: left;
      background-color: #fdfdfd;
      border-bottom: 1px solid #eee;
      padding: 10px 319px  10px 16px;
      vertical-align: baseline;
      border-top: none;
      font-size: 15px;
      font-weight: 500;
    }
  }
}


  // Extra Css For dialogs For values changes


.popmodify-edit-popup-list {
  .popmodify-edit-popup-div1 {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    font-weight: 400;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    background-color: #ff4d4d;
    .popmodify-edit-popup-heading {
      margin: 0;
    }
    .popmodify-edit-cancel-icon {
      margin-top: -6px;
    }
  }

  //  Main Content Css like Select box button input text

  .popmodify-edit-div {
    padding: 10px;
    .popmodify-edit-popup-div2 {
      .popmodify-edit-popup-div2-label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 15px;
        color: #5f5e61;
        line-height: 2.3;
      }
    }
    .popmodify-edit-popup-div3 {
      .popmodify-edit-popup-div3-label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 15px;
        color: #5f5e61;
        line-height: 2.3;
      }
      .select-father-div {
        width: 98%;
        margin-bottom: 5px;
      }
      .nakshatra-name-div,
      .father-name-div,
      .rathi-name-div {
        margin-bottom: 10px;
        width: 90%;
        height: auto;
        color: #343031;
        background-color: #fff;
        background-image: none;
        border: 2px solid #e6e5e7;
        border-radius: 2px;
        padding: 12px 16px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s,
          -webkit-box-shadow ease-in-out 0.15s;
      }
    }

    //  Table Data Edit

    .table-edit-popup-div {
      display: block;
      width: 100%;
      overflow-x: auto;
      .table {
        font-size: 14px;
        background-color: #fff;
        color: #6f6d72;

        .table-head {
          padding: 0px 10px;
          .table-heading {
            background-color: #fff;
            font-weight: 500;
            border-bottom: 2px solid #eee;
            padding: 15px 50px;
            color: #252324;
          }
        }
        .table-body {
          .table-heading-unmarried{
            background-color: #fff;
            font-weight: 500;
            border-bottom: 2px solid #eee;
            padding: 10px 25px;
            color: #252324;

            .elder-brother-textfield , .younger-brother-textfield{
              width: 100%;
              padding: 6px  16px;
              font-size: 14px;
              line-height: 1.42857143;
              color: #252328;
              background-color: #fff;
              background-image: none;
              border: 1px solid #cfced0;
              border-radius: 2px;
              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
              transition: border-color ease-in-out 0.15s,
                -webkit-box-shadow ease-in-out 0.15s;
            }

            .younger-brother-textfield{
            padding: 6px  7px;
            }
          }

          .table-heading-married{
            background-color: #fff;
            font-weight: 500;
            border-bottom: 2px solid #eee;
            padding: 10px 25px;
            color: #252324;

            .elder-brother-textfield , .younger-brother-textfield{
              width: 100%;
              padding: 6px  16px;
              font-size: 14px;
              line-height: 1.42857143;
              color: #252328;
              background-color: #fff;
              background-image: none;
              border: 1px solid #cfced0;
              border-radius: 2px;
              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
              transition: border-color ease-in-out 0.15s,
                -webkit-box-shadow ease-in-out 0.15s;
            }

            .younger-brother-textfield{
            padding: 6px  7px;
            }
          }


        }
      }
    }

    .table-two-edit-popup-div {
      display: block;
      width: 100%;
      overflow-x: auto;
      .table {
        font-size: 14px;
        background-color: #fff;
        color: #252324;

        .table-head {
          padding: 0px 10px;
          .table-heading {
            background-color: #fff;
            font-weight: 500;
            border-bottom: 2px solid #eee;
            padding: 15px 50px;
            color: #252324;
          }
        }
        .table-body {
          .table-heading-unmarried{
            background-color: #fff;
            font-weight: 500;
            border-bottom: 2px solid #eee;
            padding: 10px 25px;
            color: #252324;

            .elder-sister-textfield , .younger-sister-textfield{
              width: 100%;
              padding: 6px  16px;
              font-size: 14px;
              line-height: 1.42857143;
              color: #252328;
              background-color: #fff;
              background-image: none;
              border: 1px solid #cfced0;
              border-radius: 2px;
              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
              transition: border-color ease-in-out 0.15s,
                -webkit-box-shadow ease-in-out 0.15s;
            }

            .younger-sister-textfield{
            padding: 6px  7px;
            }
          }
          .table-heading-married{
            background-color: #fff;
            font-weight: 500;
            border-bottom: 2px solid #eee;
            padding: 10px 25px;
            color: #252324;

            .elder-sister-textfield , .younger-sister-textfield{
              width: 100%;
              padding: 6px  16px;
              font-size: 14px;
              line-height: 1.42857143;
              color: #252328;
              background-color: #fff;
              background-image: none;
              border: 1px solid #cfced0;
              border-radius: 2px;
              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
              transition: border-color ease-in-out 0.15s,
                -webkit-box-shadow ease-in-out 0.15s;
            }

            .younger-sister-textfield{
            padding: 6px  7px;
            }
          }
        }
      }
    }

    //  Buttons Css
    .edit-changes-button {
      padding: 10px;
      display: flex;
      justify-content: end;
      .close-button {
        margin: 5px;
        border: none;
        font-size: 13px;
        height: 50px;
        font-weight: 400;
        color: #fff;
        background-color: #dc3645;
        border-color: #dc3645;
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 2px;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        word-wrap: break-word;
        white-space: normal !important;
      }

      .save-changes-button {
        margin: 5px;
        border: none;
        font-size: 13px;
        height: 50px;
        font-weight: 400;
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 2px;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        word-wrap: break-word;
        white-space: normal !important;
      }
    }
  }
   
}