.promoterdata-user {
    height: 100vh;
    overflow-y: auto;
    margin: 65px 0px 0px 270px;
    box-sizing: border-box;
    height: calc(100% - 65px);
    width: calc(100% - 270px);
  
    .promoterdata-fist-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #beb7b7;
      padding-bottom: 10px;
      padding-left: 20px;
  
      h4 {
        text-align: left;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 500;
        margin: 10px 0px;
      }
  
      select {
        position: relative;
        right: 105px;
        border: 1px solid #5f5e61;
        outline: none;
        appearance: none;
        border-radius: 5px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.075);
        height: 50px;
        padding: 6px 29px;
        border: 1px solid #e8e8e8;
        color: #5f5e61;
        font-size: 1rem;
  
        option {
          padding: 10px;
        }
      }
    }
  
    .promoterdata-radio-input-div {
      padding: 0 20px;
      margin-bottom: 30px;
      color: #5f5e61;
      text-align: justify;
      input {
        margin: 0 5px;
      }
    }
  
    .promoterdata-second-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #5f5e61;
      .promoterdata-rows-per-page{
        position: relative;
        left: 10px;
        label {
          padding: 0 10px;
          margin: 0;
          font-size: 1.1rem;
        }
        select {
          padding: 5px;
          border-radius: 5px;
          width: 60px;
          outline: none;
        }
      }
      .promoterdata-search-div {
        margin-left: 200px;
        margin-right: 30px;
        #promoterdata-search-id {
          font-size: 1.1em;
          margin-right: 10px;
        }
        input {
          outline: none;
          height: 40px;
          padding-left: 10px;
        }
      }
    }
    .third-head {
      .table-div {
        thead {
          tr {
            th {
              padding: 10px 20px;
              border-bottom: 1px solid #beb7b7;
              text-align: justify;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 10px 20px;
              border-bottom: 1px solid #beb7b7;
              color: #6e6a6a;
              text-align: justify;
            }
            .promoter-status {
              .promoter-status-span {
                #active-status {
                //   background-color: rgb(61, 172, 61);
                  width: 10px;
                  height: 10px;
                  border-radius: 20px;
                }
                #pending-status {
                  background-color: red;
                  width: 10px;
                  height: 10px;
                  border-radius: 20px;
                }
              }
            }
            .promoter-status-change-btn {
              .promoter-pending-status-btn {
                color: #ff7b7b;
                background-color: #ffeded;
                border: 1px solid;
                // border-color: #ff7b7b;
                font-size: 0.8em;
                width: 95px;
                height: 50px;
                border-radius: 2px;
  
                &:hover {
                  background-color: #ff7b7b;
                  color: white;
                transition: all 1s;
                }
              }
              .promoter-active-status-btn {
                color: rgb(66, 199, 66);
                background-color: #ffeded;
                border: 1px solid rgb(66, 199, 66);
                font-size: 0.8em;
                width: 95px;
                height: 50px;
                border-radius: 2px;
                &:hover {
                  background-color: rgb(37, 200, 37);
                  color: white;
                  transition: all 1s;
                }
              }
            }
          }
        }
      }
    }
    .promoterdata-fourth-div {
      margin-top: 20px;
      .promoterdata-pagination {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        div {
          padding-left: 10px;
         
          display: flex;
          align-items: center;
          h5 {
            padding: 5px;
            font-size: 1em;
          }
        }
        .promoterdata-btn-div {
          .prev-button , .nxt-button {
            padding: 7px 30px;
            margin: 5px 10px;
            background-color: rgb(244, 182, 13);
            outline: none;
            border: none;
            border-radius: 5px;
          }
          .pagination-count-div {
            margin: 0;
             
           }
        }
      }
    }
  }
  