 .main-stack-container{
    margin: 0;

    .formcontrol-1 {
    background-color: white;
    min-width: 400px;
    }
    .date-picker-1{
        min-width: 400px;
    }

    .per-textfield-1{
        background-color: white;
        width: 400px;
        margin: 10px 0;
        height: 40px;
    }

    .formcontrol-2 {
        background-color: white;
        min-width: 400px;
        margin: 5px;

        }

        .per-textfield-2 , .per-textfield-3{
            background-color: white;
            width: 400px;
            margin: 4px 0;
            height: 40px;
        }

    
        .formcontrol-3  {
            background-color: white;
            min-width: 500px;
    
            }
            .formcontrol-4 , .formcontrol-5 , .formcontrol-6 {
                background-color: white;
                min-width: 500px;
                 margin: 5px;
        
                }

                .per-textfield-4{
                    background-color: white;
                    width: 500px;
                    margin: 5px 0;
                }

        
} 