.extra-div{
    //  width: 100px;
    //  height: 100px;
    margin: 0;
     background-color: red;
     color: black;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     .extra-heading{
        margin: 0;
     }
}