.forgotpwd-container{
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/images/couple-bg-img.png");
    background-size: cover;


    .forgotpwd-container1{
        position: relative;
        top: 50;


        .ForgotPwd-div{
            padding: 50px 50px;
            background-color: #ffffff;
            border: 1px solid #ebebeb;
            border-color: #ebebeb;
            margin-top: -2px;
            width: 35%;
             margin: 0px auto; 


             .forgotPwd-text{
                display: block;
                width: 92%;
                padding: 14px 16px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #252328;
                background-color: #fff;
                border-radius: 2px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
                border: 1px solid #cfced0;
                outline: none;
                }


                .forgot-heading{
                    font-size: 28px;
                     line-height: 28px; 
                    color: #252328;
                     font-weight: 400; 
                     padding-bottom: 20px;
                     border-bottom: 1px solid #e6e5e7;
                }
                
                .submit-button{
                    font-size: 14px;
                  padding: 10px 20px;
                  border-radius: 2px;
                  letter-spacing: 1px;
                  height: 50px;
                  font-weight: 600;
                  width: 100%;
                  background-color: red;
                  text-transform: uppercase;
                }
                
                .submit-button:hover{
                    background-color: red;
                    color: #fff;
                }
                
        }
    }



}