.privacysetting-main-container {
  .privacysetting-sub-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .privacysetting-first-box {
      .icon-one {
        background-color: #2abc2d !important;
        margin: 10px;
        border-radius: 50%;
        padding: 29px;
        width: 100px;
        height: 70px;
        line-height: 2.1;
        display: inline-block;
        color: #fff;
      }

      .privacysetting-one {
        font-size: 20px;
        line-height: 28px;
        color: #252328;
        margin: 0px 0px 15px 0px;
        font-weight: 500;
      }
    }

    .privacysetting-second-box {
        .icon-two {
            background-color: #ffc209;
            margin: 10px;
            border-radius: 50%;
            padding: 29px;
            width: 100px;
            height: 70px;
            line-height: 2.1;
            display: inline-block;
            color: #fff;

          }
      .privacysetting-two {
        font-size: 20px;
        line-height: 28px;
        color: #252328;
        margin: 0px 0px 15px 0px;
        font-weight: 400;
      }
    }

    .privacysetting-third-box {
        .icon-three {
            background-color: #dc3645;
            margin: 10px;
            border-radius: 50%;
            padding: 29px;
            width: 100px;
            height: 70px;
            line-height: 2.1;
            display: inline-block;
            color: #fff;
          }
      .privacysetting-three {
        font-size: 20px;
        line-height: 28px;
        color: #252328;
        margin: 0px 0px 15px 0px;
        font-weight: 400;
      }
    }
  }
}
